<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{{ title }}</title>
        <style>
            #background1 {
                background-image: url("{{ url_for('static', filename=cover) }}");
            }
            #background2 {
                background-image: url("{{ url_for('static', filename=cover) }}");
            }
        </style>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>
        <script src="{{ url_for('static', filename='script.js') }}"></script>
        <div id="panel">
        <p id="plays">{{ counts.play }} plays</p>
        <p id="views">{{ counts.view }} views</p>
        <h1 class="clear">{{ title }}</h1>
        <a href="#" onclick="play();">
            <img id="cover" src="{{ url_for('static', filename=cover) }}" alt="cover"/>
        <div id="stream-div">
            <audio
                controls
                id="stream"
                src="{{ url_for('static', filename=stream) }}"
                onplay="report_play('{{ url_for('play', track_id=track_id) }}');"
            ></audio>
        </div>
        </a>
        <ul class="downloads">
        {% for download in downloads %}
            <li><a
                {% if download[2] %}
                href="{{ url_for('static', filename=download[1]) }}"
                download="{{ download[2] }}"
                {% else %}
                href="{{ download[1] }}"
                {% endif %}
                onclick="report_download('{{ url_for('download', track_id=track_id) }}');"
            >{{ download[0] }}</a></li>
        {% endfor %}
        </ul>
        <p id="dls">{{ counts.download }} downloads</p>
        </div>
        <div id="background1"></div>
        <div id="background2"></div>
    </body>
</html>
