<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{{ title }}</title>
    </head>
    <body>
        <script src="{{ url_for('static', filename='script.js') }}"></script>
        <h1>My First Heading {{ counts.view }} {{ counts.play }}</h1>
        <p>My first paragraph.</p>
        <a href="javascript:play()">
            <img src="{{ url_for('static', filename=cover) }}" alt="cover"/>
        </a>
        <audio
            controls
            id="stream"
            src="{{ url_for('static', filename=stream) }}"
            onplay="report_play('{{ url_for('play', track_id=track_id) }}')"
        ></audio>
        <ul>
        {% for download in downloads %}
            <li>{{ download[0] }}</li>
        {% endfor %}
        </ul>
    </body>
</html>
